# RPC URLs
NEXT_PUBLIC_LOCAL_RPC=http://127.0.0.1:8545
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY

# Chain ID
NEXT_PUBLIC_CHAIN_ID=31337

# Alchemy (optional)
NEXT_PUBLIC_ALCHEMY_API_KEY=your_alchemy_api_key